/.idea/
/target/classes/finalexample/model/BookBundle.class
/target/classes/intro/dtotoanemicclass/Book.class
/target/classes/intro/mappinglayers/Book.class
/target/classes/intro/mappinglayers/BookDto.class
/target/classes/modelconcepts/collectiontoclass/Bibliography.class
/target/classes/modelconcepts/collectiontoclass/Book.class
/target/classes/modelconcepts/collectiontoclass/Reference.class
/target/classes/modelconcepts/fieldtonothing/Book.class
/target/classes/modelconcepts/numbertoclass/Book.class
/target/classes/modelconcepts/numbertoclass/Price.class
/target/classes/modelconcepts/rawtovalidated/Book.class
/target/classes/modelconcepts/rawtovalidated/ISBN.class
/target/classes/modeloptionality/blanktooptional/Book.class
/target/classes/modeloptionality/nulltoemptycollection/Book.class
/target/classes/modeloptionality/nulltooptional/Book.class
/target/classes/modeloptionality/nulltooptional/Main$BookDto2.class
/target/classes/modeloptionality/nulltooptional/Main.class
/target/classes/modeloptionality/nulltozero/Book.class
/target/classes/modelrelationships/fieldtomethod/Book.class
/target/classes/modelrelationships/fieldtomethod/Page.class
/target/classes/modelrelationships/identifiertoreference/Book.class
/target/classes/modelrelationships/identifiertoreference/DeliveredBook.class
/target/classes/modelrelationships/identifiertoreference/DeliveredBooks.class
/target/classes/modelrelationships/identifiertoreference/Person.class
/target/classes/modelrelationships/relatedfieldstoclass/Book.class
/target/classes/modelrelationships/relatedfieldstoclass/DeliveredBooks.class
/target/classes/modelrelationships/relatedfieldstoclass/Price$Currency.class
/target/classes/modelrelationships/relatedfieldstoclass/Price.class
/target/classes/modelrelationships/relatedfieldstoclass/Time.class
/target/classes/transformresponse/errortoexception/Book.class
/target/classes/transformresponse/errortoexception/BookAvailability.class
/target/classes/transformresponse/errortoexception/BookAvailabilityException.class
/target/classes/transformresponse/manyresponsestooneclass/Book.class
/target/classes/transformresponse/oneresponsetomanyclasses/Book.class
/target/classes/transformresponse/oneresponsetomanyclasses/BookPublication.class
/target/classes/transformresponse/responsetohierarchy/Availability$Available.class
/target/classes/transformresponse/responsetohierarchy/Availability$Error.class
/target/classes/transformresponse/responsetohierarchy/Availability$NotAvailable.class
/target/classes/transformresponse/responsetohierarchy/Availability.class
/target/classes/transformresponse/responsetohierarchy/Book.class
/target/classes/transformresponse/responsetohierarchy/BookAvailability.class
/target/classes/transformresponse/responsetooptionalclass/Availability.class
/target/classes/transformresponse/responsetooptionalclass/Book.class
/target/classes/transformresponse/responsetooptionalclass/BookAvailability.class
/target/classes/transformstrings/stringtoclass/Book.class
/target/classes/transformstrings/stringtoclass/ISBN.class
/target/classes/transformstrings/stringtoclass/SomeService.class
/target/classes/transformstrings/stringtoenum/Book$Genre.class
/target/classes/transformstrings/stringtoenum/Book.class
/target/classes/transformstrings/stringtostrategy/Book.class
/target/classes/transformstrings/stringtostrategy/Comedy.class
/target/classes/transformstrings/stringtostrategy/Fiction.class
/target/classes/transformstrings/stringtostrategy/Genre.class
/target/classes/transformstrings/stringtostrategy/Mapper.class
/target/classes/transformstrings/stringtostrategy/Thriller.class
/target/test-classes/finalexample/model/BookBundleTest.class
/target/classes/finalexample/model/Edition.class
/target/classes/finalexample/model/PublishedBook.class
/target/classes/finalexample/model/Publisher.class
